# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
langchain
langchain-community
azure-core
azure-search-documents
openai
langchain-openai
PyPDF2
azure-ai-vision-imageanalysis
# azure-functions
# openai
# faiss-cpu
# PyPDF2
# tiktoken
# langchain
# tabulate
# numpy
# azure-storage-blob
# llm
# azure-ai-formrecognizer
# redis